{% extends 'layout_cliente.html' %}
{% block content %}
{% load static %}
<div class="container">
	<div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
		<div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
			<div class="text">
				<h1 class="mb-4 bread">Paquetes turisticos</h1>
			</div>
		</div>
	</div>
</div>

<section class="">
		<div class="container">
	<div class="card horizontal">
			
		<div class="card-image">
			<img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/08/40/ed/77.jpg" class="fadeIn">
		</div>
		<div class="card-stacked">
			<div class="card-content">
				<span class="card-title">Baltra</span>
				<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
					which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which
					was created for the bliss of souls like mine.
				</p>
			</div>
			<div class="card-action">
					<a href="#" class="btn btn-success"><span class="fa fa-shopping-cart"></span> Agregar</a>
			</div>
		</div>
	</div>
	<div class="card horizontal">
			
			<div class="card-image">
				<img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/07/91/2f/d0.jpg" class="fadeIn">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title">San Cristobal e Isabela</span>
					<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
						which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which
						was created for the bliss of souls like mine.
					</p>
				</div>
				<div class="card-action ">
				
					<a href="#" class="btn btn-success justify-content-end"><span class="fa fa-shopping-cart"></span> Agregar</a>
				</div>
			</div>
		</div>
</div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% endblock %}