{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Sign in Form with Social Login Buttons</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static "css/style_login_register.css" %}">
</head>
<body style="background-image: url('https://www.vistazo.com/sites/default/files/field/image/2018/09/09/islas-galapagos.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 500px;">
<div class="login-form center">    
    <form action="/accesos/recuperar-contraseña" class="form-style" method="POST">
        {% csrf_token %}
        <h2 class="text-center title-login">Ingrese su email</h2>
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="email" placeholder="Email" required="required">
            </div>
        </div>		        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block login-btn border-button">Enviar</button>
        </div>        
    </form>
    <div class="hint-text small">¿Ya tienes cuenta? <a href="/accesos/login" class="text-success registro">Ingresa
        aquí!</a></div>
    </div>
</div>
</body>
</html>                            